data/mwdbii/GOODEIHS.BAS text eol=crlf
data/mwdbii/GLOBAL.TXT text eol=crlf
data/mwdbii/MWDBPOLY.TXT text eol=crlf
data/mwdbii/PBORDER.TXT text eol=crlf
data/mwdbii/Pntinfo.txt text eol=crlf
data/mwdbii/contents.txt text eol=crlf
data/svg/marble-font.svg text eol=crlf

